extends layout

block content
  h1 Grocery Assist
  p.lead Voice 2 text grocery transcribing.
  hr
  .row
    .col-md-6
      h2 Send and Receive twilio text demo
      p A tutorial on how to send/get texts from a twilio number (NOT YET IMPLEMENTED) .
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 EXAMPLE 2
      p PLACEHOLDER
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 EXAMPLE 3
      p PLACEHOLDER
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 EXAMPLE 4
      p PLACEHOLDER
      p
        a.btn.btn-raised(href='#', role='button') View details »