extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 API (To use?)

  .row
    .col-md-4
      a(href='/api/github', style='color: #fff')
        .card(style='background-color: #000').mb-3
          .card-body
            img(src='https://i.imgur.com/2AaBlpf.png', height=40)
            |  GitHub
    .col-md-4
      a(href='/api/twilio', style='color: #fff')
        .card(style='background-color: #fd0404').mb-3
          .card-body
            img(src='https://i.imgur.com/mEUd6zM.png', height=40)
            |  Twilio
    .col-md-4
      a(href='/api/upload', style='color: #1565c0')
        .card(style='background-color: #fff').mb-3
          .card-body
            img(src='https://i.imgur.com/UPTzIdC.png', height=40)
            |  File Upload
